@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

:root{
  --color-accent1:#6ef26b;
  /* --color-accent2:#83f781; */
  --color-accent2:red;
}

.text-accent1{
  color:var(--color-accent1);
}

.bg-accent1{
  background-color:var(--color-accent1);
}
.text-acccent2{
  color:var(--color-accent2);
}

.bg-accent2{
  background-color:var(--color-accent2);
}

.scrollbar-hide::-webkit-scrollbar{
  display: none;
}